useDynLib(LibeRality, .registration = TRUE)
importFrom(Rcpp,evalCpp)
S3method(print,lity_arm)
S3method(print,lity_constraint)
S3method(print,lity_criterion)
S3method(print,lity_design)
S3method(print,lity_evaluation)
S3method(print,lity_information)
S3method(print,lity_external_validation)
S3method(print,lity_optimisation)
S3method(print,lity_population)
S3method(print,lity_simulation)
export(liberality_gui)
export(liberality_workbench)
export(liberalityWorkbenchOutput)
export(renderLiberalityWorkbench)
export(lity_arm)
export(lity_constraint)
export(lity_contract_restore)
export(lity_constraint_check)
export(lity_criterion)
export(lity_criterion_A)
export(lity_criterion_D)
export(lity_criterion_Ds)
export(lity_criterion_E)
export(lity_criterion_bayesian)
export(lity_criterion_burden)
export(lity_criterion_c)
export(lity_criterion_compound)
export(lity_criterion_correct_dose)
export(lity_criterion_cost)
export(lity_criterion_discrimination)
export(lity_criterion_expected_utility)
export(lity_criterion_L)
export(lity_criterion_maximin)
export(lity_criterion_minimax)
export(lity_criterion_model_average)
export(lity_criterion_pareto)
export(lity_criterion_power)
export(lity_criterion_precision_probability)
export(lity_criterion_prediction)
export(lity_criterion_robust)
export(lity_criterion_rse)
export(lity_criterion_target)
export(lity_design)
export(lity_endpoint)
export(lity_endpoint_from_liberator)
export(lity_evaluate)
export(lity_example)
export(lity_external_validate)
export(lity_external_validation_fixtures)
export(lity_external_validation_report)
export(lity_information)
export(lity_job)
export(lity_model_from_liberary)
export(lity_operating_characteristics)
export(lity_optimise)
export(lity_pareto)
export(lity_population)
export(lity_report)
export(lity_scenario)
export(lity_schedule)
export(lity_simulate_trials)
export(lity_to_liberation)
export(lity_validate)
export(lity_variable)
export(lity_worker_task)
